* {
    font-family: 'Inter', sans-serif; 
}

.main-content {
    margin: 10px 100px;
}

@media (max-width: 921px) {
    .main-content {
        margin: 5px 50px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #220000;
}

body::-webkit-scrollbar {
    display: none;
}

/* To disable scrolling */
.no-scroll {
    overflow: hidden;
}


nav {
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 2.5cm; /* Add spacing between links */
    transition: color 0.3s ease-in-out;
}

nav a:hover, u:hover { 
    color: #EB949E; /* This will change the color on hover */
}

.dropdown-menu-icon {
    display: none;
}

.dropdown-menu-icon img {
    display: none;
    filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(105%) contrast(112%);
    height: 50px;
    width: 50px;
    z-index: 6;
}

.dropdown-menu {
    display: none;
    background-color: rgb(34, 0, 0, 0.5);
    top: 0; /* Set to 0 to align to the top */
    left: 0; /* Set to 0 to align to the left */
    position: fixed; /* Fixes the position over the entire screen */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.contact-btn {
    position: relative;
    top: 0cm;
    margin: 0 2.5cm;
    min-width: 2.8cm;
    height: 0.85cm;
    color: white;
    border: 1px solid #EB949E;
    padding: 3px;
    border-radius: 6px;
    background-color: #220000;
    background-image: radial-gradient(231.94% 231.94% at 50% 100%, #EB949E 0, #220000 25%);
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.contact-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(231.94% 231.94% at 50% 100%, #EB949E 0, #220000 55%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.contact-btn:hover::before {
    opacity: 1;
}

.contact-btn:hover {
    box-shadow: 0 5px 10px rgb(235, 148, 158, 0.4);
}

.contact-btn span {
    font-size: 16px;
    position: relative;
    z-index: 2; 
}

@media (max-width: 921px) {
    nav, nav a{
        display: none;
    }

    .contact-btn {
        display: none;
    }

    .dropdown-menu-icon {
        display: flex;
        justify-content: center;
    }

    .dropdown-menu-icon img {
        width: 25px;
        height: 25px;
        display: block;
    }

    .dropdown-menu-icon:hover {
        cursor: pointer;
    }

    .dropdown-menu.active {
        display: flex;
        justify-content: center;
        flex-direction: column; /* Stack links vertically */
        align-items: center; /* Center the links horizontally */
        width: 100%;
        height: 100%;
        z-index: 5;
    }
    
    .dropdown-menu.active a {
        text-decoration: none;
        color: white;
        margin: 1cm; /* Adjust vertical spacing between links */
        font-size: 4vw; /* Adjust font size for better readability */
        transition: color 0.3s ease-in-out;
    }
    
    .dropdown-menu.active a:hover, .dropdown-menu.active u:hover { 
        color: #EB949E; 
    }
}

.intro-container {
    width: 100%;
    margin-top: 100px;
}

.greeting {
    font-size: 36px;
    font-weight: bold;
    background-image: linear-gradient(to right, #E04555 0%, #AE00FF 25%);
    background-clip: text;
    color: transparent;
}

.name {
    font-size: 96px;
    font-weight: bold;
    color: white;
}

.intro-info-text {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.intro-info-text span {
    color: #EB949E;
}

.slideshow-container {
    margin: 5px;
    position: relative;
    width: 50%;
}

.slide {
    display: none; 
    text-align: center;
}

.tech-icon {
    width: 1cm;
    height: 1cm;
    transition: transform 0.3s;
}

.tech-name {
    margin-top: 8px;
    font-size: 12px;
    color: #d1d1d1;
}

.prev-tech, .next-tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.prev-tech {
    left: 2cm; 
}

.next-tech {
    right: 2cm; 
}

.prev-tech, .next-tech {
    opacity: 0.7;
    transition: opacity 0.3s, transform 0.3s;
}

.prev-tech img, .next-tech img {
    width: 0.8cm;
    height: 0.8cm;
}

.prev-tech .tech-name, .next-tech .tech-name {
    font-size: 10px;
    color: #999;
}

.active-tech {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* To allow absolute positioning of the glow */
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}  

.active-tech::before {
    content: '';
    position: absolute;
    bottom: 1.5cm;
    width: 1px; 
    height: 1px;
    border-radius: 50%;
    background-color: #EB949E; 
    box-shadow: 0 0 20px 15px #EB949E; 
    z-index: 0;
}

.active-tech img {
    width: 1cm; 
    height: 1cm;
    position: relative;
    z-index: 1; 
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
    transition: color 0.3s;
}

.next {
    right: 10px;
    transition: color 0.3s;
}

.prev:hover, .next:hover {
    color: #EB949E;
}

.intro-description {
    margin-top: 30px;
    color: white;
    position: relative;
    font-size: 17px;
}

/* Smaller resolution */
@media (max-width: 921px) {
    .greeting {
        font-size: 3.90879479vw;
    }

    .name {
        font-size: 10.4234528vw;
    }

    .intro-info-text {
        font-size: 3.7vw;
    }

    .intro-description {
        font-size: 2.6vw;
    }

    .tech-name {
        font-size: 8px;
    }

    .prev-tech .tech-name, .next-tech .tech-name {
        font-size: 6px;
        color: #999;
    }

    .active-tech img {
        width: 0.7cm;
        height: 0.7cm;
    }

    .prev-tech img, .next-tech img {
        width: 0.5cm;
        height: 0.5cm;
    }

    .active-tech::before {
        bottom: 1.2cm;
    }

    .slideshow-container {
        width: 100%;
    }
}

#about {
    color: white;
    margin-top: 15cm;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-me-title {
    font-size: 36px;
    font-weight: bold;
    background-image: linear-gradient(to right, #E04555 0%, #AE00FF 35%);
    background-clip: text;
    color: transparent;
    grid-column: 2;
}

.about-me-description {
    font-size: 17px;
    line-height: 0.7cm;
    grid-column: 2;
}

@media (max-width: 921px) {

    .about-container {
        display: grid;
        grid-template-columns: 1fr; /* Single column */
        grid-template-rows: auto auto auto; /* Two rows: top and bottom */
    }

    .about-me-title {
        font-size: 3.90879479vw;
        background-image: linear-gradient(to right, #E04555 0%, #AE00FF 30%);
    }

    .about-me-description {
        font-size: 2.6vw;
        line-height: 0.4cm;
    }
}

#projects {
    margin-top: 15cm;
}

.project-showcase-title {
    font-size: 36px;
    font-weight: bold;
    background-image: linear-gradient(to right, #E04555 0%, #AE00FF 20%);
    background-clip: text;
    color: transparent;
}

.project-container {
    margin-top: 2cm;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 1cm 1cm;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.7cm;
    overflow: hidden;
    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-container:hover {
    border: 1px solid #EB949E;
    transform: translateY(-3%);
    box-shadow: 0 10px 7px rgb(21, 0, 0);
}

.project-img {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 8cm;
    justify-self: start;
}

.project-info {
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5;
    row-gap: 20px;
}

.project-name {
    color: white;
    align-self: flex-end;
    font-size: 27px;
}

.project-description {
    display: flex;
    color: rgb(133, 106, 106);
}

#project-1 {
    margin-top: 1.5cm;
    position: relative; 
    display: flex; 
    z-index: 1;
}

#project-2 {
    margin-top: 3cm;
    position: relative; 
    display: flex; 
    z-index: 1;
}

#project-3 {
    margin-top: 3cm;
    position: relative; 
    display: flex; 
    z-index: 1;
}

@media (max-width: 921px) {
    .project-showcase-title {
        font-size: 3.90879479vw;
        background-image: linear-gradient(to right, #E04555 0%, #AE00FF 30%);
    }

}

.white-square {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 13cm;
    height: 8cm;
    z-index: 2;
}

.github-redirect-btn {
    width: 25px;
    height: 25px;
    filter: invert(100%) sepia(4%) saturate(1351%) hue-rotate(191deg) brightness(112%) contrast(100%);
    transition: 0.3s ease-in-out;
}

.github-redirect-btn:hover {
    cursor: pointer;
    filter: invert(72%) sepia(29%) saturate(737%) hue-rotate(307deg) brightness(92%) contrast(101%);
}

#contact {
    margin-top: 15cm;
    align-items: center;
    text-align: center;
}

.contact-section-title {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    background-image: linear-gradient(to right, #E04555 35%, #AE00FF 63%);
    background-clip: text;
    color: transparent;
}

.contact-parent{
    display:flex;
    width: 100%;
    margin:80px 0;
    border-radius: 7px;
    overflow: hidden; 
    border: 1px solid #EB949E;
}

.contact-child{
    display:flex;
    flex:1;
    box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75);
}

.child-1 {
    position: relative;
    display: flex;
    flex-direction:column;
    text-align: left;
    overflow: hidden; 
    background-image: linear-gradient(to top,rgba(235, 148, 158, 0.3), transparent);
}

.child-1 .call-to-action-text {
    margin: 1cm 1cm;
    font-size: 60px;
    font-weight: bold;
    color: white;
    z-index: 1;
}

.child-1 span {
    color: #EB949E;
}

.socials-mini-section {
    margin: 1cm 1cm;
    color: white;
    font-size: 20px;
    z-index: 1;
}

.social-icons img {
    height: 30px;
    width: 30px;
    filter: invert(100%) sepia(4%) saturate(1351%) hue-rotate(191deg) brightness(112%) contrast(100%);
    transition: 0.3s ease-in-out;
}

.social-icons img:hover {
    filter: invert(72%) sepia(29%) saturate(737%) hue-rotate(307deg) brightness(92%) contrast(101%);
}

.child-2{
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    text-align: left;
}

.contact-form {
    margin: 1cm 1cm;
}

.contact-form h3{
    color: white;
    margin-bottom: 1cm;
    font-weight: normal;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    color: white;
    box-sizing: border-box; /* Includes padding and border in total width */
    background-color:rgb(235, 148, 158, 0.1);
    border:1px solid rgba(0,0,0,0.3);
    padding:5px 10px;
    margin-bottom:20px;
    border-radius: 3px;
    outline: none;
}

.contact-form input {
    height: 1cm;
}

.contact-form input:focus, .contact-form textarea:focus {
    border: 1px solid #EB949E;
}

.contact-form textarea {
    height: 3cm;
    resize: none;
}

.contact-form button{
    background-color:#EB949E;
    border: none;
    height: 1.2cm;
    width: 100%;
    padding:5px 10px;
    color:#fff;
    margin:30px 0;
    border-radius: 12px;
    transition: 0.3s ease-in-out
}

.contact-form button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #EB949E;
    border: 1px solid #EB949E;
}

/* Particles animation */
.particle-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.1);
    z-index: 0;
}

.particle {
    position: absolute;
    bottom: 0;
    background-color:rgb(235, 148, 158, 0.8);
    border-radius: 50%;
    animation: float 5s linear infinite;
    opacity: 0;
    box-shadow: 0 0 10px rgba(215, 161, 167, 0.5), 
                0 0 20px rgba(215, 161, 167, 0.5), 
                0 0 30px rgba(215, 161, 167, 0.5);

}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.particle:nth-child(1) {
    width: 8px;
    height: 8px;
    left: 20%;
    animation-duration: 6s;
    animation-delay: 0s;
}

.particle:nth-child(2) {
    width: 11px;
    height: 11px;
    left: 30%;
    animation-duration: 4s;
    animation-delay: 2s;
}

.particle:nth-child(3) {
    width: 8px;
    height: 8px;
    left: 50%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.particle:nth-child(4) {
    width: 15px;
    height: 15px;
    left: 70%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.particle:nth-child(5) {
    width: 10px;
    height: 10px;
    left: 90%;
    animation-duration: 4s;
    animation-delay: 0s;
}

.particle:nth-child(6) {
    width: 8px;
    height: 8px;
    left: 10%;
    animation-duration: 6s;
    animation-delay: 0s;
}

.particle:nth-child(7) {
    width: 12px;
    height: 12px;
    left: 30%;
    animation-duration: 6s;
    animation-delay: 2s;
}

.particle:nth-child(8) {
    width: 11px;
    height: 11px;
    left: 70%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.particle:nth-child(9) {
    width: 5px;
    height: 5px;
    left: 86%;
    animation-duration: 5s;
    animation-delay: 1s;
}

@media (max-width: 921px) {
    .contact-section-title {
        font-size: 3.90879479vw;
    }
}

footer {
    text-align: center;
    color: grey;
}
